<!DOCTYPE html>
<html lang='en' class=''>
<head>
  <title>cabbage.moe</title>
  <link rel="icon" href="cabbageiconthumb.png">
  <meta name="viewport" content="width=device-width"/>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <style>
  @font-face {
    font-family: 'Ubuntu_Mono';
    src: url('Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
    }
  @font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Light.ttf') format('truetype');
    }
    * {
      font-family:Ubuntu_Mono, sans-serif;
      color: white;
    }
    /* remove the border */
    nav{
      margin: auto;
      padding: 0 !important;
      border: 0;
      max-width: 1320px;
    }
    p, ul {
      font-family: Roboto, sans-serif;
      font-size: 1.2rem;
    }
    .card {
      background-color: black;
    }
  </style>

  <template id="home">
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Hello</h1>
            <p class="text-muted" style="font-size: 1.5rem; font-family: 'Ubuntu_Mono';">I'm Jasper Chandler, a computer science student at the University of Adelaide. This website is to showcase my projects.</p>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div v-for="key in Object.keys(contentList)" class="col">
            <router-link v-bind:to="key" class="dropdown-item" style="white-space: normal; margin: 0; padding: 1px; border: 0; border-radius: 3px">
              <div class="card shadow-sm">
                <img v-bind:src="contentList[key].images[0]" class="card-img-top" width="100%" focusable="false" loading="lazy">

                <div class="card-body">
                  <h3>{{contentList[key].title}}</h3>
                  <span class="bd">
                    {{contentList[key].year}}
                  </span>
                  <span v-for="tag in contentList[key].tags" class="bd">
                    #{{tag}}
                  </span>
                  <p class="card-text">{{contentList[key].description}}</p>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </main>
  </template>
  <template id="AboutMe">
    <div class="bd-intro ps-lg-4">
      <h1 class="bd-title">
        Jasper Chandler
      </h1>
      <p class="bd-lead">
        aka cabbageman
      </p>
      <h3>Bio</h3>
      <p class="bd">
        I love to build and understand logical systems; since I started with python in 2015 I have been making games and simulations. These projects are driven by my love for learning via exploration and my nature to think outside the box. I aspire to work on software systems that matter in the world and present novel challenges to overcome.
      </p>
      <h3>Skills Summary</h3>
      <ul>
        <li>Experienced in: Python, C++, Javascript, HTML, OpenGL.</li>
        <li>I have also used: Java, SQL, Swift, MPI, OpenCL, HLSL, C, C#.</li>
        <li>Practical skills: Soldering, Discrete Electronics, Communication, Mac OS, Windows, Linux, Web.</li>
      </ul>
      <h3>Education</h3>
      <ul>
        <li>Bachelor of Mathematical & Computer Sciences 2020 – current: The University of Adelaide</li>
      </ul>
      <h3>Contact</h3>
      <ul>
        <li>Discord: cabbageman#7128</li>
        <li>Github: cabbageman8</li>
        <li>Email: cabbageman@optusnet.com.au</li>
      </ul>
    </div>
  </template>
  <template id="normalPage">
    <div class="bd-intro ps-lg-4">
      <h1 class="bd-title" style="padding-top: 1rem">
        {{content.title}}
      </h1>
      <span class="bd">
        {{content.year}}
      </span>
      <span v-for="tag in content.tags" class="bd">
        #{{tag}}
      </span>
      <p class="bd-lead">
        {{content.description}}
      </p>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div v-for="image in content.images" class="col">
            <a v-bind:href="'http://cabbage.moe/'+image" class="dropdown-item" style="white-space: normal; margin: 0; padding: 1px; border: 0; border-radius: 3px" width="100%" focusable="false" loading="lazy">
              <div class="card shadow-sm">
                <img v-bind:src="image" class="card-img-top" width="100%">
              </div>
            </a>
          </div>
          <div v-for="vid in content.vids" class="col">
            <div class="card shadow-sm">
              <video controls="controls" preload="metadata" muted loop width="100%">
                <source v-bind:src="vid">
              </video>
            </div>
          </div>
        </div>
      </div>
      <p v-for="text in content.paragraphs" class="bd" style="padding-top: 1rem">
        {{text}}
      </p>
    </div>
  </template>

</head>
<body style="background:#180022"><div id=app>
  <header style="display: block; background-color: #180022">
    <div style="position: absolute; width: 50%">
      <h2 style="float: right; padding-right: 40px; width: 100%; max-width: 660px"><router-link style="color: white; font-family: Ubuntu_Mono; text-decoration: none;" to="/">cabbage.moe</router-link></h2>
    </div>
    <div style="height: 5em; position: absolute; left: 50%; margin-right: -50%; transform: translate(-50%, 0px)" >
    <svg height="100%" width="100%" version="1.1" viewBox="0,0,500,500">
      <g id="blush" stroke="#ec00a1" stroke-width="5" fill="none" stroke-linecap="round" opacity="0" stroke-linejoin="round">
        <circle opacity="0" stroke="#000" fill="#000" cx="250" cy="250" r="250"/>
        <path d="M409+311C404+318+402+320+397+328M420+308C416+317+412+324+406+331M431+308C426+316+422+325+417+333M442+308C438+314+433+325+429+331M450+315C447+319+444+324+441+328
                 M288+339C284+344+279+347+274+351M298+340C291+347+287+351+279+357M307+341C303+347+293+357+288+362M317+342C314+347+306+358+302+362M326+342C325+345+319+358+317+361M328+360C330+356+331+354+332+346" />
        <animate attributeName="opacity" values="0;1;1;0" dur="3s" begin="click"/>
      </g>
      <g id="eyes">
        <path d="M339+253 C 328+247+317+244+305+249 C 281+259+275+312+305+330 C 316+336+331+332+338+321 C 349+305+359+266+339+253Z" fill="#182f13" opacity="1" stroke-linejoin="round"/>
        <path d="M408+225 C 358+211+370+295+395+301 C 414+306+427+290+430+276 C 436+249+433+231+408+225Z" fill="#182f13" opacity="1" stroke-linejoin="round"/>
        <path d="M407+260 C 411+247+397+238+388+243 C 382+247+382+259+388+263 C 395+269+404+266+407+260Z" opacity="1" fill="#ffffff"/>
        <path d="M307+292 C 323+302+337+270+324+265 C 290+255+290+280+307+292Z" opacity="1" fill="#ffffff"/>
      </g>
    </svg>
  </div>
    <canvas style="width: 100vw; height: 5em; display: block;" id="glcanvas">
      Oh no! Your browser doesn't support canvas!
    </canvas>
    <div style="background-color: #00cc00; margin-top: 0px; width: 100vw; display: block;">
      <nav style="background-color: #00cc00" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <router-link to="/" class="navbar-brand" style="font-size: 1.5rem;">Projects</router-link>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="gamesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Python
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><router-link to="/BeeEcology" class="dropdown-item">Bee Ecology</router-link></li>
                  <li><router-link to="/NOR" class="dropdown-item">NOR</router-link></li>
                  <li><router-link to="/InsectBox" class="dropdown-item">Insect Box</router-link></li>
                  <li><router-link to="/PythonistaWork" class="dropdown-item">Pythonista Work</router-link></li>
                  <li><router-link to="/Boxscape" class="dropdown-item">Boxscape</router-link></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="shadersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shaders
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><router-link to="/FluidSimulator" class="dropdown-item">Fluid Simulator</router-link></li>
                  <li><router-link to="/Webgl" class="dropdown-item">Webgl</router-link></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Public Events
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><router-link to="/PyconAUSydney" class="dropdown-item">PyconAU Sydney</router-link></li>
                  <li><router-link to="/STEMCongress" class="dropdown-item">STEM Congress</router-link></li>
                </ul>
              </li>
              <li class="nav-item">
                <router-link to="/AboutMe" class="nav-link">About Me</router-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <svg style="position: absolute; z-index: -1;" height="100%" width="100%" version="1.1" viewBox="0,0,1000,1000">
    <!-- <polygon v-bind:points="(250+100*Math.cos(1*Math.PI*2/5))+','+(250+100*Math.sin(1*Math.PI*2/5))+' '+(250+100*Math.cos(2*Math.PI*2/5))+','+(250+100*Math.sin(2*Math.PI*2/5))+' '+(250+100*Math.cos(3*Math.PI*2/5))+','+(250+100*Math.sin(3*Math.PI*2/5))+' '+(250+100*Math.cos(4*Math.PI*2/5))+','+(250+100*Math.sin(4*Math.PI*2/5))+' '+(250+100*Math.cos(5*Math.PI*2/5))+','+(250+100*Math.sin(5*Math.PI*2/5))" style="fill:lime;stroke:purple;stroke-width:1" /> -->
    <g v-for="i in 5" style="fill:none; opacity: 0.5; stroke:purple; stroke-width:1">
      <g v-for="p in 5"><path v-bind:d="'M'+(500+161.8*Math.cos((i+0.5)*Math.PI*2/5)+100*Math.cos((p+0.5)*Math.PI*2/5))+','+(500+161.8*Math.sin((i+0.5)*Math.PI*2/5)+100*Math.sin((p+0.5)*Math.PI*2/5))+'L'+
                                            (500+161.8*Math.cos((i+0.5)*Math.PI*2/5)+100*Math.cos((p+1.5)*Math.PI*2/5))+','+(500+161.8*Math.sin((i+0.5)*Math.PI*2/5)+100*Math.sin((p+1.5)*Math.PI*2/5))"/>
                                            <animate attributeName="opacity" values="0.5;0.2;0.5" dur="3s" v-bind:begin="Math.sin(i+p)+'s'" repeatCount="indefinite"/>
                                          </g>
      <g v-for="j in 5">
        <g v-for="p in 5"><path v-bind:d="'M'+(500+423.6*Math.cos(j*Math.PI*2/5)+161.8*Math.cos(i*Math.PI*2/5)+100*Math.cos((p+0)*Math.PI*2/5))+','+(500+423.6*Math.sin(j*Math.PI*2/5)+161.8*Math.sin(i*Math.PI*2/5)+100*Math.sin((p+0)*Math.PI*2/5))+'L'+
                                              (500+423.6*Math.cos(j*Math.PI*2/5)+161.8*Math.cos(i*Math.PI*2/5)+100*Math.cos((p+1)*Math.PI*2/5))+','+(500+423.6*Math.sin(j*Math.PI*2/5)+161.8*Math.sin(i*Math.PI*2/5)+100*Math.sin((p+1)*Math.PI*2/5))"/>
                                              <animate attributeName="opacity" values="0.5;0.2;0.5" dur="3s" v-bind:begin="Math.sin(i+j+p)+'s'" repeatCount="indefinite"/>
                                            </g>
        <g v-for="k in 5">
          <g v-for="p in 5"><path v-bind:d="'M'+(500+1109*Math.cos((k+0.5)*Math.PI*2/5)+423.6*Math.cos((j+0.5)*Math.PI*2/5)+161.8*Math.cos((i+0.5)*Math.PI*2/5)+100*Math.cos((p+0.5)*Math.PI*2/5))+','+(500+1109*Math.sin((k+0.5)*Math.PI*2/5)+423.6*Math.sin((j+0.5)*Math.PI*2/5)+161.8*Math.sin((i+0.5)*Math.PI*2/5)+100*Math.sin((p+0.5)*Math.PI*2/5))+'L'+
                                                (500+1109*Math.cos((k+0.5)*Math.PI*2/5)+423.6*Math.cos((j+0.5)*Math.PI*2/5)+161.8*Math.cos((i+0.5)*Math.PI*2/5)+100*Math.cos((p+1.5)*Math.PI*2/5))+','+(500+1109*Math.sin((k+0.5)*Math.PI*2/5)+423.6*Math.sin((j+0.5)*Math.PI*2/5)+161.8*Math.sin((i+0.5)*Math.PI*2/5)+100*Math.sin((p+1.5)*Math.PI*2/5))"/>
                                                <animate attributeName="opacity" values="0.5;0.7;0.5" dur="3s" v-bind:begin="Math.sin(i+j+k+p)+'s'" repeatCount="indefinite"/>
                                              </g>
        </g>
      </g>
    </g>
  </svg>

  <article style="margin: auto; max-width: 1320px;">
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view></router-view>

    <footer style="padding-top: 10em">
      cabbage.moe has received <span id="visits">...</span> visits.
    </footer>
  </article>

</div></body>
<script>
  function cb(response) {
      document.getElementById('visits').innerText = response.value;
  }
</script>
<script async src="https://api.countapi.xyz/hit/cabbage.moe/visits?callback=cb"></script>
<script>
  const contentList = {
    BeeEcology: {
      title: "Bee Ecology Simulator",
      year: "2020",
      tags: ["Python","SAM","RPi","Pygame"],
      images: [
        "img/Bee/DSC_0256.JPG",
        "img/Bee/img78563.png",
        "img/Bee/img99.png",
        "img/Bee/DSC_0229.JPG",
        "img/Bee/DSC_0262.JPG",
        "img/Bee/DSC_0233.JPG"],
      description: "Interactive shows the effects of the recent Australian fires on the endangered green carpenter bee. This bee only lives on a tiny island called kangaroo island, where most of its habitat was burned in early 2020.",
      paragraphs: [
        "In a team with SA Museum scientist Remko Leijs and the lead designer, I created an ecosystem simulator demonstrating the effect of bushfire on native bees. I created the simulation using python and used algorithms to model 25 years worth of data. Working with a scientist allowed the simulation to be reasonably accurate. The final simulator was in the SA Museum foyer for 6 months and is subsequently used by Remko Leijs for public demonstrations. ",
        "The system was entirely coded in Python and used custom http net code to send simulation data from a touch screen computer (where the user controls the simulation) to a second 4K screen computer over internal wifi.",
        "When making the software, I had to solve lots of interesting problems, often requiring the implementation of a custom data structure or algorithm. For example, the simulation used a “Z-order” data structure to store geographic information. The data about each 9 hectare tile (fire history, terrain types, etc) was stored in an object and the Z-order map placed the tiles in a 32x32 grid (9216 hectares total). ",
        "The simulation used mathematical models to determine how the tiles evolve over time and how they interact with each other. These algorithmic models were created based on scientific data and a body of research going back 25 years. The simulation starts at 2007 and allows the user to simulate the 2020 fire according to satellite imagery, and simulate an additional 30 years into the future. The time steps in the simulation were 1/8 of a year so that each tile could be updated twice per season. Therefor over the course of the 43 year simulation 2007-2050, the 1024 tiles would receive 344 updates, each doing complex calculations according to multiple factors and each effecting the tiles around it. ",
        "In order to create the Z-order map for 2007 (the terrain which every user starts with), I used the mathematical models from the simulator. I made a second program which takes png images of fire history and terrain data as input (The fire history map had data going back 50 years) and using these inputs the program simulated the history of the terrain in order to get accurate starting data for all the unknown parameters in the map.",
      ],
    },
    Nor: {
      title: "NOR",
      year: "2018",
      tags: ["Python","iPad","SceneKit"],
      images: [
        "img/nor/IMG_7017.PNG",
        "img/nor/IMG_7014.PNG",
        "img/nor/IMG_7010.PNG",
        "img/nor/IMG_7007.PNG",
        "img/nor/IMG_7009.PNG",
        "img/nor/IMG_7016.PNG"],
      description: "A 2D sandbox puzzle game for iPad. It features computer generated landscapes, full terrain editing, computer generated logic puzzles and infinite levels.",
      paragraphs: [
        "The game used advanced features such as vector graphics, procedural generation, RW bitmap objects, and OpenGL shaders. The player could move freely around a 2D world. Each zone in this world has distinct sky, rock, and flora. The flora included procedurally generated bushes, trees, and grass. The world could be edited by the player using a creative menu; where rock can be created or destroyed as the player desires. Each zone may be blocked by a logic puzzle based on real world electronic wiring, and once the player made the correct circuit, the player could access new zones."
      ],
    },
    InsectBox: {
      title: "Insect Simulation Box",
      year: "2019",
      tags: ["Python","SAM","RPi","TKinter"],
      images: [
        "img/InsectBox/img3456.png",
        "img/InsectBox/img9.jpeg"],
      description: "RFID based interactive where a range of insect specimens can be scanned in order to simulate how they compete with each other in an ecosystem.",
      paragraphs: [
        "The project was contained in a stand-alone box with a battery, display, buttons, RFID scanner and specimens. This allowed the box to function as a traveling interactive for school visits.",
      ],
    },
    PythonistaWork: {
      title: "IOS Development in Pythonista",
      year: "2015-2018",
      tags: ["Python","iPad","Pythonista"],
      images: ["img/PythonistaWork/IMG_7481.PNG"],
      vids: [
        "vids/IMG_6911.TRIM.MOV",
        "vids/IMG_6899.TRIM.MOV",
        "vids/IMG_6921.TRIM.MOV",
        "vids/IMG_6929.TRIM.MOV",
        "vids/IMG_6933.TRIM.MOV"],
      description: "While learning python, I developed many miscellaneous projects on iPad using the IDE app Pythonista.",
      paragraphs: [
        "",
      ],
    },
    Boxscape: {
      title: "Boxscape",
      year: "2015",
      tags: ["Python","iPad","Pythonista"],
      images: [
        "img/Boxscape/750x750bb.jpeg",
        "img/Boxscape/45670bb.jpeg",
        "img/Boxscape/75484560bb.jpeg"],
      description: "My first published software. An arcade style challenge game.",
      paragraphs: [
        "",
      ],
    },
    FluidSimulator: {
      title: "Fluid Simulator",
      year: "2021",
      tags: ["Unity","Compute-Shader","Physics","Simulation"],
      images: [
        "img/FluidSimulator/img34567.png",
        "img/FluidSimulator/img84563.png"],
      description: "Simulates liquid and gas in a 2D space. Made to test my ideas about a cellular physics simulator running on the GPU.",
      paragraphs: [
        "",
      ],
    },
    Webgl: {
      title: "WebGL Shaders",
      year: "2019",
      tags: ["WebGL","Fragment-Shader","Fractals"],
      images: [
        "img/Webgl/img46357.png",
        "img/Webgl/img4582.png",
        "img/Webgl/img89376.png",
        "img/Webgl/img486784.png",
        "img/Webgl/img786378.png",
        "img/Webgl/img3785857.png"],
      description: "Using knowledge of fragment shaders, explored mathematical concepts in web browser.",
      paragraphs: [
        "",
      ],
    },
    PyconAUSydney: {
      title: "Speaker at Pycon-AU",
      year: "2018",
      tags: ["Python","NOR","Sydney","Public-Event"],
      images: [
        "img/PyconAUSydney/IMG_6462.JPG",
        "img/PyconAUSydney/IMG_9029.JPG",
        "img/PyconAUSydney/IMG_0764.JPG"],
      description: "I gave a talk at the national python convention to speak about my journey from learning python to creating my second iPad game “NOR”.",
      paragraphs: [
        "",
      ],
    },
    STEMCongress: {
      title: "STEM Aboriginal Student Congress",
      year: "2018",
      tags: ["STEM","Python","Public-Event"],
      images: ["img/STEMCongress/img57463875.JPG"],
      description: "Helped students from across the state to learn about software development. By the end the students had each made a basic IOS app using SpriteKit in Pythonista",
      paragraphs: [
        "",
      ],
    },
  }

  const router = new VueRouter({
    routes: [
      { path: '/AboutMe', component: { template: '#AboutMe'} },
      { path: '/BeeEcology', component: {data() {return {content: contentList["BeeEcology"]}}, template: '#normalPage'}},
      { path: '/Nor', component: {data() {return {content: contentList["Nor"]}}, template: '#normalPage'}},
      { path: '/InsectBox', component: {data() {return {content: contentList["InsectBox"]}}, template: '#normalPage'}},
      { path: '/PythonistaWork', component: {data() {return {content: contentList["PythonistaWork"]}}, template: '#normalPage'}},
      { path: '/Boxscape', component: {data() {return {content: contentList["Boxscape"]}}, template: '#normalPage'}},
      { path: '/FluidSimulator', component: {data() {return {content: contentList["FluidSimulator"]}}, template: '#normalPage'}},
      { path: '/Webgl', component: {data() {return {content: contentList["Webgl"]}}, template: '#normalPage'}},
      { path: '/PyconAUSydney', component: {data() {return {content: contentList["PyconAUSydney"]}}, template: '#normalPage'}},
      { path: '/STEMCongress', component: {data() {return {content: contentList["STEMCongress"]}}, template: '#normalPage'}},
      { path: '*', component: {data() {return {contentList}}, template: '#home'} },
    ]
  })

  const app = new Vue({
    router
  }).$mount('#app')
  </script>

  <script id="vertex-shader" type="x-shader/x-vertex">
    attribute vec2 aVertexPosition;
    uniform vec2 uScalingFactor;
    uniform vec2 uRotationVector;
    uniform vec2 resolution;
    void main() {
      vec2 rotatedPosition = vec2((aVertexPosition.x),
        (aVertexPosition.y)
      );
      gl_Position = vec4(rotatedPosition * uScalingFactor, 0.0, 1.0);
    }
  </script>
  <script id="fragment-shader" type="x-shader/x-fragment">
    #ifdef GL_ES
      precision highp float;
    #endif
    uniform float time;
    uniform vec2 resolution;
    float tau = 6.28318530718;

    void main() {
      float scale = resolution.y*(50.0/160.0);
      vec2 pos = vec2((gl_FragCoord.x-resolution.x/2.0)/scale, (gl_FragCoord.y-resolution.y/2.0)/scale);
      vec3 color = vec3(0.1,0.0,0.13);
      float d2 = (pos.x*pos.x+pos.y*pos.y)/1.2;
      color = (d2 < 1.0+0.5*sin(sin(time/20.0)+1.0*tau/8.0+atan(pos.y+pos.x))) ? vec3(color.g*(d2),color.g+0.2/d2,0.0) : color;
      color = (d2 < 1.0+0.5*sin(sin(time/20.0)+2.0*tau/8.0+atan(pos.y-pos.x))) ? vec3(color.g*(d2),color.g+0.2/d2,0.0) : color;
      color = (d2 < 1.0+0.5*sin(sin(time/20.0)+3.0*tau/8.0+atan(pos.x+pos.y))) ? vec3(color.g*(d2),color.g+0.2/d2,0.0) : color;
      color = (d2 < 0.7*sin(d2*15.0+time/20.0+tan(pos.y/pos.x-pos.x/pos.y))-pos.y/2.0) ? vec3(min(color.g, 0.5),min(color.g, 0.75),min(color.g, 0.3)) : color;
      color = (pos.y+0.1+0.1*sin(pos.x*2.0-3.0*sin(pos.x/10.0+time/80.0)) < -abs(1.0/(pos.x/7.0))-(mod(pos.x*4.0+(pos.y*pos.y-10.0)*0.2*sin(pos.x/10.0+time/80.0), 1.0))) ? vec3(0.0,color.g+0.5,0.0) : color;
      color = (pos.y+0.1*sin(pos.x*2.0-3.0*sin(pos.x/10.0+time/80.0)) < -abs(1.0/(pos.x/8.0))-(mod(pos.x*3.0+(pos.y*pos.y-10.0)*0.2*sin(pos.x/10.0+time/80.0), 1.0))) ? vec3(0.0,color.g+0.5,0.0) : color;
      gl_FragColor = vec4(color.r,min(color.g, 0.8),color.b,1.0);
    }
  </script>
  <script  src="glsetup.js"></script>
</html>
